.botao{
  
    display: flex;
    
}
.texto1{
    text-align: center;
    display: flex;
    
}
.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
  }
  
  .imagem img {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
  }
  .fonte{
    font-family: Verdana, sans-serif;
  }

  .contador {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #b6b5b5;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .valor {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    text-align: center;
  }
  
  .botao2 {
    background-color: rgb(104, 15, 15);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  .money{
    color: black;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
  }
  
