.ion-page{
  background-color: rgb(128, 12, 12);
  margin: auto;
  width: 100%;
  padding: 15px;
  text-align: center;
}
.botao1{
   
   width: 50%;
}
.botao1c{
   background-color: rgb(56, 170, 56);
}
.icone{
   
   padding-left:1220px;
   font-size: xx-large;
}